<html>
    <head>
        <link rel="stylesheet" href="./css/index.css" />
    </head>
    <body>
            <%- include head.ejs %>
        Hello, ejs !<br />
        <%=msg%>
        <ul>
            <% for (let i = 0; i < list.length; i++) { %>
                <li><%= list[i] %></li>
            <% } %>
        </ul>
        <%- h %>
    </body>
</html>